* {
    box-sizing: border-box;
    font-family: 'helvetica neue', 'Apple SD Gothic Neo', Roboto, Helvetica, Arial, sans-serif;
}

.container{
    position: fixed;
    left: 80%;
    right: 0;
    bottom: 0;
    text-align: left;
    height: 100%;
    border-left: 2pt groove white;
    padding: 10px;
}

.modify_container{
    padding-left: 10px;
    margin-top: 20px;
    text-align: left;
    cursor: pointer;
}
.profile_container{
    margin: auto;
    display: inline-block;
}

.intro_container{
    display: flex;
    margin-top: 20px;
}

.profileImg{
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.box{
    width: 50px;
    height: 50px; 
    border-radius: 70%;
    overflow: hidden;
    border: 2pt groove gray;
    display: inline-block;
    vertical-align: middle;
}

.span{
    padding-left: 10px;
    text-align: left;
    font-size: 14px;
}

.span_profile{
    position: relative;
    font-size: 15px;
    padding-left: 20px;
    bottom: 8px;
}

.span_email{
    padding-left: 10px;
    text-align: left;
    font-size: 13px;
}

.span_intro{
    text-align: left;
    font-size: 13px;
    word-break: keep-all;
}
.bold{
    font-weight: bold;
}
.gray{

    color: gray;
}

