@font-face {
  font-family: 'NanumNeo';
  font-style: normal;
  src: local('NanumNeoRg'), url(./fonts/NanumNeoRg.woff) format('woff');
}

@font-face {
  font-family: 'NanumNeo';
  font-style: bold;
  src: local('NanumNeoBd'), url(./fonts/NanumNeoBd.woff) format('woff');
}




body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
